@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    * {
      transition: background-color 0.2s;
    }
  }

  .dark-mode {
    /* COLORS */
    --primary: #BB86FC;
    --primary-varient: #3700B3;
    --secondary: #03DAC6;
    --background: #121212;
    --surface: #121212;
    --error: #CF6679;
    --on-primary: #000000;
    --on-secondary: #000000;
    --on-background: #E3E3E3;
    --on-surface: #E3E3E3;
    --on-error: #000000;
    --themeButton: #E9EAF0;
  }

  .light-mode {
    --primary: #6200EE ;
    --primary-varient: #3700B3;
    --secondary: #03DAC6;
    --secondary-varient: #018786;
    --background: #F8F8FF;
    --surface: #F8F8FF;
    --error: #B00020;
    --on-primary: #FFFFFF;
    --on-secondary: #000000;
    --on-background: #000000;
    --on-surface: #000000;
    --on-error: #FFFFFF;
    --themeButton: #24272C;
  }

  /* Not Used */
  h1 {
    font-size: 6rem;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
  }

  h2 {
    font-size: 3.75rem;
    font-weight: 600;
    line-height: normal;
  }

  h3 {
    font-size: 3rem;
    font-weight: 400;
    line-height: normal;
  }

  h4 {
    font-size: 2.125rem;
    font-weight: 500;
    line-height: normal;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
  }

  subtitle1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
  }

  subtitle2 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
  }

  body1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
  }

  body2 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
  }

  button {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: normal;
  }

  caption {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
  }

  .overline-Font {
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: normal;
  }

  .main-title {
    font-size: 4rem;
    font-weight: 300;
    line-height: normal;
  }

}