.section {
    width: 100%;
    height: 100%;
    place-items: center;
    background-color: var(--background);
    color: var(--on-background); 
    padding-top: 1.3rem;
    overflow: hidden;
}

.grid {
    order: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5rem;
    align-items: center;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.textBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: 1;
    height: 90vh;
    width: 30rem;
    animation: slideFadeInLeft 1.5s ease-out forwards;
    animation-timing-function: cubic-bezier(0.2, 0.1, 0.2, 1);
    overflow: hidden;
}

.imageBlock {
    display: flex;
    justify-content: center;
    order: 2;
    height: 60vh;
    width: 35rem;
    animation: slideFadeInRight 1.5s ease-out forwards;
    animation-timing-function: cubic-bezier(0.2, 0.1, 0.2, 1);
    overflow: hidden;
}

.title {
    padding-bottom: 1rem;
    color: var(--primary);
}

.subtitle {
    font-family: Roboto;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
}

.subtitle p {
    margin-bottom: 1rem; 
  }

.subtitle ul {
    padding-left: 1.5rem;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: auto;
    padding-bottom: 5rem;
    animation: slideFadeInUp 2s ease-out forwards;
    animation-timing-function: cubic-bezier(0.2, 0.1, 0.2, 1);
    overflow: hidden;
}
  
@keyframes slideFadeInRight {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFadeInUp {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

