.section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--background);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  overflow: hidden;
  padding-left: 8rem;
  padding-right: 8rem;
}

.titleBlock {
  order: 1;
  text-align: left;
  padding-left: 2rem;
}

.personIcon {
  display: flex;
  justify-content: flex-end;
  order: 2;
  width: 100%;
  height: auto;
  animation: slideFadeInRight 1.5s ease-out forwards;
  animation-timing-function: cubic-bezier(0.2, 0.1, 0.2, 1);
}

@keyframes slideFadeInRight {
  from {
      opacity: 0;
      transform: translateX(50%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.title {
  color: var(--on-background);
}

.subtitle {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--on-background);
}

.emoji {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  padding-bottom: 1.2rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2rem;
}

.navigation a {
  cursor: pointer;
}

@keyframes expandShrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.navigation:hover {
  animation: expandShrink 1s ease;
  animation-iteration-count: 1;
  transform-origin: center;
}