.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.3rem;
  background-color: var(--surface);
  color: var(--on-surface);
  position: fixed;
  width: 100%;
  top: 0;
  transition: box-shadow 0.3s, background-color var(--transition-duration);
  z-index: 1000;
}

.scrolled {
  box-shadow: 0em 4px 12px 5px rgba(0, 0, 0, 0.1);
}

.title {
  padding-left: 3.5rem;
}

.navItems {
  display: flex;
  align-self: center;
  margin-left: auto;
  gap: 2rem;
  align-items: center;
  padding-right: 3.5rem;
  font-weight: 400;
}

.navItems a {
  position: relative;
  color: inherit;
  cursor: pointer;
}

.navMobile {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 1rem;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: var(--on-surface);
  transition: all 0.3s ease-in-out;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: var(--surface);
  color: var(--on-surface);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  padding-left: 2rem;
}

.mobileMenu a {
  padding: 1rem;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: var(--on-surface);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: color 0.2s ease-in-out; 
}

.mobileMenu.open {
  height: 90vh;
}

.mobileMenu.closed {
  height: 0;
}

@media (max-width: 768px) {
  .navItems {
    display: none;
  }

  .navMobile {
    display: flex;
    align-items: center;
  }

  .title {
    padding-left: 1rem;
  }
}
