.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.3rem;
  background-color: var(--surface);
  color: var(--on-surface);
  position: fixed;
  width: 100%;
  top: 0;
  transition: box-shadow 0.3s, background-color var(--transition-duration);
  z-index: 1000;
}

.scrolled {
  box-shadow: 0em 4px 12px 5px rgba(0, 0, 0, 0.1);
}

.title {
  padding-left: 3.5rem;
}

.navItems {
  display: flex;
  align-self: center;
  margin-left: auto;
  gap: 2rem;
  align-items: center;
  padding-right: 3.5rem;
  font-weight: 400;
}

.navItems a {
  position: relative;
  color: inherit;
  cursor: pointer;
}

.navMobile {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  margin-right: 1rem;
  z-index: 1;

}

.hamburgerLine {
  display: block;
  width: 24px;
  height: 3px;
  background-color: var(--on-background);
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;

}

.hamburgerLine:not(:last-child) {
  margin-bottom: 5px;
}

.hamburger.open .hamburgerLine:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open .hamburgerLine:nth-child(2) {
  opacity: 0;
}

.hamburger.open .hamburgerLine:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: var(--surface);
  color: var(--on-surface);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  padding-left: 2rem;
  margin-top: -3rem;
}


.mobileMenu a {
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: var(--on-surface);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: color 0.2s ease-in-out;
}

.mobileMenu.open {
  height: 100vh;
}


.mobileMenu.closed {
  height: 0;
}

@media (max-width: 768px) {
  .navItems {
    display: none;
  }

  .navMobile {
    display: flex;
    align-items: center;
  }

  .title {
    padding-left: 1rem;
    z-index: 1;
    background: var(--background);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .box {
    padding: 1rem;
  }
}
